@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("grey", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.item {
    padding: 7px;
    margin-bottom: 2pc;
}

.input_cell {
	background: red;
   	border: none;
   	border-bottom: none !important;
   	border-radius: 0;
   	outline: none;
   	height: auto !important;
   	width: 53px !important;
  	font-size: 1rem;
   	margin: 0 !important;
   	padding: 0;
   	box-shadow: none;
   	box-sizing: content-box;
   	transition: all 0.3s;	
} 

tr.add_tr_food {
	background: #fff !important;
}

.centered {
	text-align: center;
}